
.title{
    font-weight: 150px;
    font-size: 50px;
}
.p{
    font-size: 29px;
    text-align: center;
}
.pic{
    font-size: 90px;
    position: relative;
    top: 40%;
    left: 25%;
    width: 700px;
    height: 420px;
    border-radius: 20px;
}
.p1{
    position: absolute;
    font-size: 25px;
    text-align: center;
    margin: 15px 40px;
}
.pic2{
    font-size: 90px;
    position: absolute;
    bottom: -460px;
    left: 25%;
    width: 700px;
    height: 420px;
    border-radius: 20px;
}
.p2{
    position: absolute;
    font-size: 25px;
    text-align: center;
    margin: 15px 40px;
    bottom: -970px;
    left: 13%;
}
.pic3{
    font-size: 90px;
    position: absolute;
    bottom: -890px;
    left: 25%;
    width: 700px;
    height: 420px;
    border-radius: 20px;
}